<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление мед. документов</title>
</head>
<body>
    <h2>Добавление медицинских документов</h2>
    <form action="personal_area.html">
        <div>
            <label for="snils">СНИЛС:</label>
            <input type="text" id="snils" name="snils" required>
        </div>
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>